header {
  text-align: center;
  font-size: 30px;
  color: #279EFF;
}

main, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C356A;
}

.container {
  text-align: center;
  color: #279EFF;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #2980b9;
}

.resultadoMesmaLinha {
  display: inline-block;
  margin-left: 10px;
}

section{
  display: block;
  margin: 25px;
}

legend {
  font-size: 18px;
  color: #000000;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-bottom: 5px;
  background-color: #788892;
}

fieldset p {
  margin: 5px;
  color: #000000;
  background-color: #ffffff;
}

legend {
  font-size: 18px;
  color: #ffffff;
}

.int-html{
  background-color: brown;
}